agate==1.9.1
alembic==1.16.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==14.0
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
daff==1.4.2
dagster==1.10.19
dagster-dbt==0.26.19
dagster-dlt==0.26.19
dagster-graphql==1.10.19
dagster-pipes==1.10.19
dagster-webserver==1.10.19
dagster_shared==1.10.19
dbt-adapters==1.16.0
dbt-common==1.25.0
dbt-core==1.9.6
dbt-duckdb==1.9.3
dbt-extractor==0.6.0
dbt-protos==1.0.317
dbt-semantic-interfaces==0.7.4
debugpy==1.8.14
decorator==5.2.1
deepdiff==7.0.1
dlt==1.10.0
dlt-pendulum==3.0.2
docstring_parser==0.16
duckdb==1.3.0
executing==2.2.0
filelock==3.18.0
fonttools==4.58.1
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0
google-api-python-client==2.171.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gql==3.5.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.3
grpcio==1.72.1
grpcio-health-checking==1.71.0
grpcio-status==1.71.0
h11==0.16.0
hexbytes==1.3.0
httplib2==0.22.0
httptools==0.6.4
humanfriendly==10.0
humanize==4.12.2
idna==3.10
importlib-metadata==6.11.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
leather==0.4.0
makefun==1.15.6
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.4.4
narwhals==1.42.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.2.6
ordered-set==4.1.0
orjson==3.10.18
packaging==24.2
pandas==2.3.0
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.3
pendulum==3.1.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.5.0
ply==3.11
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.1
pyparsing==3.2.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==14.0.0
rich-argparse==1.7.0
rpds-py==0.25.1
rsa==4.9.1
semver==3.0.4
setuptools==79.0.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowplow-tracker==1.1.0
SQLAlchemy==2.0.41
sqlglot==26.16.0
sqlglotrs==0.4.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.47.0
streamlit==1.45.1
structlog==25.4.0
tabulate==0.9.0
tenacity==9.1.2
text-unidecode==1.3
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toposort==1.10
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.16.0
types-setuptools==79.0.0.20250422
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
universal_pathlib==0.2.6
uritemplate==4.2.0
urllib3==2.4.0
uv==0.6.16
uvicorn==0.34.3
watchdog==5.0.3
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
win-precise-time==1.4.2
yarl==1.20.0
zipp==3.23.0
